/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  /* On applique le fond gris foncé directement sur le body global */
  background-color: #3b3b3b; 
}

* {
  box-sizing: border-box;
}